
    <!-- A fullscreen Design-Image -->
    <div data-role="page" id="image" data-fullscreen="true">
        <div data-role="header" data-position="fixed">
            <h1>{{ design.title }}</h1>
            <a data-rel="back" data-role="button" data-icon="back" data-direction="reverse">Back</a>
        </div>
        <div data-role="content">   
            <img src="http://create-your-style.com{{ design.image320 }}" alt="{{ design.title }}" class="center" />
        </div>        
    </div> 
